
  letter-spacing: 1px;
  font-family: "ivymode", sans-serif;
  text-align: center;
  box-sizing: border-box;
  margin-tops: 0rem;
  user-select: none;
}

@media (max-width: 768px) {
  header {
    background-color: #f4eee6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
  }

  .top-content {
    flex-direction: column;
    padding: 0.5rem 0 1rem;
    gap: 1rem;
    margin-top: 0;
  }

  .video-frame {
    width: 100%;
    padding: 0.5rem;
    border-radius: 20px;
    padding-top: 1rem;
  }

  .video-frame iframe,
  .video-frame video {
    width: 100%;
    height: 220px;
  }

  .cast-crew-columns {
    flex-direction: column;
    width: 100%;
    max-width: none;
    gap: 1rem;
  }

  .cast-box,
  .crew-box {
    width: 100%;
    height: auto;
  }

  .description-wrapper {
    transform: scale(1);
    padding: 1rem 2rem;
    margin-top: 0.5rem;
  }

  .synopsis-strip {
    margin: 1rem -1.5rem 0 -1.5rem;
    width: calc(100% + 3rem);
    padding: 1.5rem;
    font-size: 1.2rem;
    text-align: center;
  }

  .synopsis-strip h2 {
    font-size: 2rem;
  }

  .synopsis-strip p {
    text-align: center !important;
  }

  .logo {
    height: 40px;
  }

  .brand span {
    font-size: 12px;
    font-family: "nitti-typewriter-cameo", sans-serif;
  }

   footer {
    text-align: center !important;
    padding: 0.5rem 0 !important;
    font-size: 0.8rem !important;
    background-color: #000 !important;
    color: #fff !important;
  }
}
